/* Remove as margens brancas e impede que a tela fique deslizando */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Impede a barra de rolagem */
    background-color: #000; /* Fundo preto para não cansar os olhos se o jogo demorar a carregar */
}

/* Faz o Canvas (o jogo) ocupar a tela inteira */
#gameCanvas {
    display: block;
    width: 100vw;
    height: 100vh;
    image-rendering: pixelated; /* CRÍTICO: Deixa o Ninja Adventure nítido e não embaçado */
    touch-action: none; /* Impede o navegador de dar zoom quando você usa o joystick */
  }
